:root {
  --primary-border: 1px solid rgba(0, 0, 0, 0.12);

  --light-black: rgba(0, 0, 0, 0.38);
  --medium-black: rgba(0, 0, 0, 0.6);
  --high-black: rgba(0, 0, 0, 0.87);
  --bs-primary: #8da2b1;
  --primary-white: rgba(255, 255, 255, 1);
  --primary-off-white: rgba(251, 251, 251, 1);
  --primary-black: rgba(109, 110, 112, 1);
  --primary-black-dark: rgba(109, 110, 112, 1);
  --primary-blue: rgba(171, 196, 214, 1);
  --primary-button-blue: rgb(141, 162, 177);
  --primary-pink: rgb(185, 82, 51);
  --primary-green: rgba(171, 198, 189, 1);
  --primary-button-green: rgb(147, 168, 161);
  --primary-grey: rgba(216, 216, 216, 1);
  --primary-grey-medium: rgb(150, 150, 150);
  --primary-grey-background: rgba(229, 229, 229, 1);
  --primary-white-background: rgba(239, 239, 239, 1);

  --primary-text-grey: rgba(52, 52, 54, 1);
  --primary-red: rgb(185, 82, 51);

  --main-color: rgb(141, 162, 177);
  --text-color: rgba(0, 0, 0, 0.6);
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: rgb(193, 209, 219);
  --neutral-color: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.App-logo {
  height: 3rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.full-width {
  width: 100%;
}

.width-95 {
  width: 95%;
}

.width-90 {
  width: 90%;
}
.width-30 {
  width: 30%;
}
.width-60 {
  width: 60%;
}
.width-45 {
  width: 45%;
}

html {
  min-height: 100%;
}

html,
body,
#root,
.App,
.full-height {
  min-height: 100%;
  overflow: visible;
}

.full-height {
  overflow: visible;
}

.height-75 {
  height: 75%;
}

.height-50 {
  height: 50%;
}

.border-bottom {
  border-bottom: 2px solid black;
}

button {
  cursor: pointer;
}

.inner-row {
  margin-left: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.row-wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
  align-items: center;
}

.center-row {
  justify-content: center;
}

.center-column {
  align-items: center;
}

.center-self {
  align-self: center;
}

.left-align-row {
  justify-content: flex-start;
}

.left-align-column {
  align-items: baseline;
}

.right-align-row {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.margin-top-5 {
  margin-top: 15px;
}

.btn-blue {
  background-color: var(--primary-button-blue);
}
.small-button {
  width: 50% !important;
}

.general-button {
  border: var(--primary-border);
  margin: 0px;
  padding: 0px;
}
.general-button a {
  text-decoration: none;
  color: var(--high-black);
}

.general-button :hover {
  text-decoration: none;
  color: black;
}

.gereral-button-green {
  border: 1px solid transparent;
  margin-top: auto;
  border-radius: 5px;
  background: var(--primary-button-green);
}

.gereral-button-blue {
  border: 1px solid transparent;
  margin-top: auto;
  border-radius: 5px;
  background: var(--primary-button-blue);
}

.general-input-fit {
  height: 30px;
  padding: 2px 8px;
  border: var(--primary-border);
  margin: 2px 0px;
}
.note-input-fit {
  height: 60px;
  padding: 2px 8px;
  border: var(--primary-border);
  margin: 2px 0px;
}

.admin-button-small {
  margin-top: 10px;
  padding: 3px;
  text-decoration: none;
  color: var(--high-black);
  background-color: var(--primary-green);
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.admin-button,
a.admin-button {
  margin-top: 10px;
  padding: 3px;
  text-decoration: none;
  color: var(--high-black);
  background-color: var(--primary-button-blue);
  border-radius: 5px;
  cursor: pointer;
}

.back-button {
  background-color: var(--primary-button-green);
}
.delete-button {
  background: var(--primary-red);
  color: white;
}

.delete-button-svg {
  fill: rgb(121, 37, 37);
  cursor: pointer;
}

.admin-dashboard-card {
  border: var(--primary-border);
}

.item-card-container {
  border: var(--primary-border);
  min-width: 270px;
  width: 80%;
  max-width: 80%;
  min-height: 200px;
  margin: 15px 0px;
  align-content: center;
  text-align: center;
}

.item-card-container {
  text-align: left;
  padding: 8px 16px;
  /* padding-left: 16px; */
}

.item-card-container-name {
  align-self: flex-start;
  margin: 2px 4px;
  border: var(--primary-border);
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.item-card-body,
.item-card-container h3 {
  align-self: end;
  /* padding-left: 6px; */
}

.item-card-image-main {
  max-width: 200px;
  max-height: 200px;
}

.item-card-image-main-edit {
  width: 200px;
  height: 200px;
}

.item-image {
  width: 40px;
  height: 40px;
}

.item-card-image-small {
  max-width: 100%;
  border: var(--primary-border);
  margin: 2px;
}
.item-card-image-small-edit {
  width: 100px;
  height: 100px;
  border: var(--primary-border);
  margin: 2px;
}

.general-input,
.item-card-body {
  width: 100%;
}

.general-input,
.item-card-body textarea,
.item-card-body input {
  margin: 2px 4px;
  border: var(--primary-border);
  border-radius: 5px;
}

.item-card-body textarea {
  margin: 0px;
  padding: 0px 4px;
  margin-top: 10px;
  width: calc(100% - 8px);
  min-height: 100px;
}

.item-card-container-inactive {
  background: lightgray;
}

.item-card-row-container {
  border: var(--primary-border);
  padding: 2px;
  width: 100%;
}

.item-card-row-title {
  width: 30%;
  margin-left: 5px;
}

.item-card-row-price-quant {
  width: 15%;
}

.item-card-row-add,
.item-card-row-remove {
  width: 40%;
  cursor: pointer;
}

.item-card-row-add svg {
  transform: rotate(45deg);
}

.tableInfo {
  font-size: 12px;
}

.previous-order-table,
.admin-order-table {
  /* border: 1px solid #ccc; */
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 90%;
}
.previous-order-table tbody {
  /* border: 1px solid #ccc; */
  overflow-x: visible !important;
  overflow-y: scroll;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  width: 90%;
}

.previous-order-table tr,
.admin-order-table tr {
  background-color: #f8f8f8;
  padding: 0.35em;
  margin: 8px 0px;
  border-bottom: 1px solid #cccaca;
  width: 100%;
}

.previous-order-table th,
.previous-order-table td,
.admin-order-table th,
.admin-order-table td {
  padding: 0.625em;
  text-align: center;
}

.previous-order-table th,
.previous-order-table td {
  width: 20%;
  text-align: left;
}

.admin-order-card-show {
  position: absolute;
  z-index: 1;
  background: white;
  width: 100%;
  height: 100%;
  top: 0px;
}

.page-header {
  min-height: 15%;
  background: var(--primary-text-grey);
  color: var(--primary-white);
  width: 100%;
  margin-bottom: 24px;
  padding: 15px;
  font-size: 10px;
}

.page-container {
  padding-right: 0%;
  padding-left: 0%;
}
.page-header h1 {
  font-weight: 400;
  font-size: 2rem;
}
.page-header-black {
  background: var(--primary-text-grey);
  color: var(--primary-white);
}

.page-content {
  background-color: var(--primary-off-white);
}

.main-content {
  background-color: var(--primary-grey-background);
}

.month-change-button {
  width: 20rem;
}

.new-event-main-section {
  background: var(--primary-grey-background);
  margin-left: 5px;
  margin-right: 5px;
}
.main-section-row {
  min-height: 81vh;
}
.main-section {
  width: 85%;
  background: var(--primary-grey-background);
  /* border: 1px solid; */
  margin-bottom: 16px;

  max-height: 100%;
  /* overflow: scroll; */
}

.main-section-white-bg {
  background-color: var(--primary-white-background);
}

.main-section-scroll {
  /* overflow: scroll; */
}

.event-dashboard-top-row {
  flex: 1 1 auto;
  /* height: 40%; */
  /* max-height: 50%; */
}

.event-list-title {
  font-weight: bold;
  font-size: 16px;
}
.event-list-info {
  font-size: 14px;
}

.new-event-lower-row,
.event-dashboard-lower-row {
  flex: 1 2 auto;
  /* height: 70%; */
  max-height: 85%;
  /* align-items: baseline; */
  align-items: flex-start;

  /* overflow: scroll; */
}

.new-order-row,
.new-event-lower-row {
  max-height: 50%;
}

.event-dashboard-full-column {
  width: 96%;
  /* border: 1px solid; */
  margin: 1% 2%;
}

.event-dashboard-half-column-left {
  margin-left: 0px;
}

.event-dashboard-half-column-right {
  margin-right: 0px;
}

.column-grey-bg {
  background-color: var(--primary-grey-background);
}

.event-dashboard-sub-title {
  padding: 8px 0px;
  font-style: normal;
}

.event-dashboard-events-list {
  padding: 16px 0px;
  margin: 0px;
  background: rgba(229, 229, 229, 1);
}

.event-dashboard-events-list-container {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 300px;
}
.people-dashboard-events-list {
  margin: 0px;
  background: rgba(229, 229, 229, 1);
}

.event-dashboard-events-list li {
  list-style: none;
  /* width: calc(100% - 8px); */
  width: 90%;
  padding: 0px;
  margin: 2px 0px;
  /* border: 1px solid blue; */

  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.forward-arrow-svg {
  border-radius: 50%;
  border: 1px solid transparent;
  align-items: center;
  padding: 0px;
  margin: 0px 3px;
  display: "flex";
  justify-content: "center";
}

.forward-arrow-grey {
  background: rgb(134, 153, 167);
}

.forward-arrow-svg:disabled {
  background: var(--primary-grey-background);
}

.forward-arrow-svg:disabled svg {
  fill: var(--primary-grey);
}

.backward-arrow-svg {
  transform: rotate(180deg);
}

.forward-arrow-svg svg {
  transition: transform 0.3s;
}

.event-details-header-show .forward-arrow-svg svg {
  transform: rotate(90deg);
}

.x-button {
  border: 1px solid transparent;
  margin-top: auto;
  border-radius: 50%;
  background: var(--primary-red);
  height: 30px;
  width: 30px;
}
.add-event-button {
  border: 1px solid transparent;
  margin: 0px auto;
  margin-top: auto;
  border-radius: 50%;
  background: var(--primary-button-green);
  height: 40px;
  width: 40px;
}
.addIcon {
  height: 20px;
  width: 20px;
}

.add-event-button-blue {
  background: var(--primary-button-blue);
}

.add-event-button-black {
  background: var(--primary-black);
}

.add-event-button svg {
  fill: var(--primary-white);
  height: 25px;
  width: 25px;
}
.add-event-button-link svg {
  fill: var(--primary-white);
  height: 25px;
  width: 25px;
  margin-top: 7px;
}

.add-event-button-link {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  background: var(--primary-button-green);
  height: 40px;
  width: 40px;
}

.add-event-button-link-blue {
  background: var(--primary-button-blue);
}

.add-event-button:focus,
.forward-arrow-svg:focus {
  outline: none;
  border: 1px solid var(--primary-button-green);
}

.event-dashboard-events-list .event-details {
  min-height: 200px;
  overflow: hidden;
  transition: max-height 0.4s, min-height 0.4s;
}

.event-dashboard-events-list .event-details-show {
  min-height: 200px;
  transition: max-height 0.4s, min-height 0.4s;
}

.event-details-header {
  padding: 8px;
  width: calc(100% - 4px);
}

.event-details-header-show {
  background: var(--primary-grey);
  padding: 4px 2px;
  border-radius: 5px;
}

.event-details-show p {
  text-align: left;
}

.primary-black-header {
  background: var(--primary-text-grey);
  color: var(--primary-white);
}

.primary-black-light-header {
  background: var(--primary-black);
  color: var(--primary-white);
}

.primary-green-header {
  background: var(--primary-green);
  color: var(--primary-text-grey);
}

.primary-green-dark-header {
  background: var(--primary-button-green);
  color: var(--primary-text-grey);
  font-weight: 500;
}

.primary-blue-header {
  background: var(--primary-blue);
  color: var(--primary-text-grey);
}
.primary-blue-dark-header {
  background: var(--primary-button-blue);
  color: var(--high-black);
  font-weight: 500;
}

.event-dashboard-icon {
  width: 80px;
  height: 80px;
}

.sign-in-button {
  width: 200px;
  color: var(--high-black);
}
.sign-in-button a {
  color: var(--high-black);
}
.new-event-icon {
  width: 48px;
  height: 48px;
}

.dateTitle {
  font-weight: 500;
}

.new-event-date-input,
.new-event-input {
  /* max-width: 98%; */
  /* width: calc(100% - 24px); */
  /* max-width: 500px; */
  margin-top: 14px;
  margin-bottom: 14px;

  width: 100%;
}

.user-group-edit-input,
.new-event-date-input {
  /* width: calc(47% - 16px); */
  max-height: 240px;
}

.detail-card {
  background-color: var(--primary-green);
}

.detail-card-item {
  background-color: var(--primary-off-white);
}

.detail-card-item-details {
  text-align: left;
}

.description-title {
  font-weight: 600;
}

.detail-card-item-close {
  background-color: var(--primary-off-white);
  float: right;
}

.event-item-description-button,
.new-event-button {
  background: var(--primary-button-green);
  border: var(--primary-border);
  color: var(--primary-text-grey);
  margin: 2px 0px;
  margin-right: 8px;
  margin-bottom: 16px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  align-items: left;
}

a.new-event-button {
  text-decoration: none;
  padding: 1px;
  /* margin: 2px 0px; */
}

.new-event-button-blue {
  background: var(--primary-button-blue);
}

.new-event-button-white {
  background: var(--primary-white);
}

.new-event-button-grey {
  background: var(--primary-grey);
}

.new-event-button-red {
  background: var(--primary-pink);
  color: var(--primary-white);
}

.new-event-button-red svg {
  height: 15px;
  width: 15px;
}

.new-event-button:disabled {
  background: var(--primary-grey);
  color: var(--primary-black);
}

.new-event-button-no-margin {
  margin: 0px;
}

.previous-order-button {
  height: 40px;
  width: 30%;
  text-decoration: none;
}

.back-link {
  background: var(--primary-grey);
  color: var(--primary-text-grey);
  text-decoration: none;
  /* height: 30px; */
  padding: 8px;
  margin: 8px 0px;
}

.edit-button-link {
  color: var(--primary-text-grey);
  text-decoration: none;
}
.edit-button-link:hover {
  color: black;
  text-decoration: none;
}

.back-link-blue {
  background: var(--primary-blue);
}

.calendar-body {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
}

.calendar-header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

.calendar-main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}

.calendar-row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.calendar-row-middle {
  align-items: center;
}

.calendar-col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.calendar-col-start {
  justify-content: flex-start;
  text-align: left;
}

.calendar-col-center {
  justify-content: center;
  text-align: center;
}

.calendar-col-end {
  justify-content: flex-end;
  text-align: right;
}

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .calendar-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .calendar-days {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-black);
  font-size: 70%;
  padding: 0.75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .calendar-body .calendar-cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .calendar-body .calendar-cell:hover {
  transition: 0.5s ease-out;
}

.calendar .calendar-body .calendar-selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  border-image-slice: 1;
}

.calendar .calendar-body .calendar-row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .calendar-body .calendar-row:last-child {
  border-bottom: none;
}

.calendar .calendar-body .calendar-cell:last-child {
  border-right: none;
}

.calendar .calendar-body .calendar-cell .calendar-number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.calendar .calendar-body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.bg-image {
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: -0.2em;
  left: -0.05em;
  opacity: 0.8;
  padding: 10px;
  background-color: var(--primary-green);
}

.calendar .calendar-body .calendar-cell .bg {
  font-weight: 700;
  line-height: 1;
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .calendar-body .calendar-cell:hover .bg,
.calendar .calendar-body .calendar-selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}

.calendar .calendar-body .calendar-col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.event-item-card-container {
  margin-bottom: 0px;
  padding-bottom: 5px;
  min-height: 225px;
  border: var(--primary-border);
  cursor: pointer;
  /* padding: 10px 0px; */
  background: var(--primary-white-background);
}
.gift-item-card-container {
  background: var(--primary-grey-background);
}

.event-item-card-image-loading {
  min-height: 300px;
  min-width: 90%;
  background: var(--primary-grey);
  margin: 16px 0px;
}

.event-item-card-text-loading {
  width: 90%;
  height: 8%;
  margin: 2px 0px;
  background: var(--primary-grey);
}

.loading-skeleton {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(
    45deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  ); */

  background: linear-gradient(
    45deg,
    var(--primary-grey),
    var(--primary-black),
    /* var(--primary-grey),
    var(--primary-black-dark), */ var(--primary-grey)
  );
  background-size: 3500% 100%;
  animation: gradient 4s linear infinite;
  animation-direction: reverse;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.event-item-card-image {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 5px;
  align-self: center;
}
.gift-item-card-image {
  max-width: 200px;
  max-height: 200px;
  border: var(--primary-grey) 1px solid;
  align-self: center;
}

.gift-item-details-card-image {
  max-width: 300px;
  max-height: 300px;
  border: var(--primary-grey-background) 2px solid;
  align-self: center;
}

.event-item-card-text {
  margin: 2px 3px;
  text-align: left;
}
.gift-item-card-text-price {
  margin: 2px 3px;
  color: var(--primary-black);
  font-weight: 600;
}

.gift-item-description {
  font-size: 11px;
  text-align: left;
}
.gift-item-details {
  background-color: var(--primary-blue);
  border: none;
  width: 90%;
  font-size: 12px;
  font-weight: 700;
  color: var(--medium-black);
}
.gift-item-details-link {
  color: var(--medium-black);
  border-bottom: none;
}
.event-item-card-title {
  margin: 2px 3px;
  font-weight: 600;
  font-size: 15px;
  text-align: left;
}
.gift-card-title {
  color: var(--primary-button-blue);
  font-weight: 600;
  font-size: 16px;
  margin: 2px 3px;
}
.event-item-description {
  max-height: 0px;
  transition: max-height 0.2s;
  overflow: hidden;
  background: var(--primary-white-background);
}

.event-item-description-show {
  margin-top: 16px;
  padding: 16px 8px;
  max-height: 500px;
  transition: max-height 0.2s;
}

.event-item-description-text {
  text-align: left;
}

.event-item-description-button-container {
  width: calc(20% - 8px);
}

.event-item-description-button {
  margin: 0px;
}

.event-item-card-active {
  border: 3px solid var(--primary-blue);
}

.event-item-card-inactive {
  background: var(--primary-grey);
  border: 3px solid var(--primary-blue);
}

.event-user-list-title {
  background: var(--primary-green);
  color: var(--primary-white);
  font-weight: bold;
  padding: 8px 0px;
  margin-bottom: 16px;
}

.event-user-list-column {
  background: var(--primary-green);
  /* margin: 8px 0px; */
  padding: 8px 0px;
  max-height: 85%;
  height: 85%;
}

.event-user-list-blue {
  background: var(--primary-blue);
}

.event-item-search-bar,
.event-user-search-bar {
  border: none;
  padding: 4px 4px;
  margin: 8px 0px;
  border-radius: 5px;
}

.event-item-search-bar:disabled .event-user-search-bar:disabled {
  background: var(--primary-grey);
}

.event-item-search-bar {
  border: var(--primary-border);
  margin: 2px 0px;
}

.event-user-search-bar-loading {
  height: 24px;
  margin: 8px 0px;
  width: 91%;
  padding: 4px 4px;
}

.event-user-search-bar-loading .loading-skeleton {
  border-radius: 5px;
  color: var(--primary-white);
}

.event-user-list-list {
  background: var(--primary-white);
  text-align: left;
}
.event-user-list {
  overflow-y: scroll;
  max-height: 300px;
  background: var(--primary-white);
}

.event-user-list-user-loading {
  height: 24px;
  width: 100%;
  margin: 8px 0px;
}

.event-user-list-button {
  border: none;
  background: inherit;
  margin: 0px;
  padding: 0px;
}

.recipient-row {
  background-color: #f1f1f1;
}

.btn-flat {
  background-color: rgb(159, 184, 176);
  color: rgba(0, 0, 0, 0.6);
}
.toggleButton {
  background-color: rgb(159, 184, 176);
  color: rgba(0, 0, 0, 0.6);
}
.toggleButton :active {
  background-color: rgb(144, 163, 157);
  color: rgba(0, 0, 0, 0.6);
}

.event-user-list-button-remove svg {
  transform: rotate(45deg);
}

.modal-container {
  position: absolute;
  z-index: 1;
  /* background: var(--primary-grey-background); */
  width: 100%;
  height: 100%;
  /* top: 10%; */
  /* border-radius: 5px; */
  /* border: var(--primary-border); */
}

.modal-box-container {
  position: absolute;
  /* z-index: 1; */
  background: var(--primary-grey-background);
  width: 80%;
  min-height: 30%;
  top: 10%;
  border-radius: 5px;
  border: var(--primary-border);
}

.event-item-list-container {
  background: var(--primary-blue);
  padding: 10px;
}

.event-item-list-sub-container {
  background: var(--primary-off-white);
}

.event-item-list {
  min-height: 150px;
  max-height: 250px;
  overflow-y: scroll;
  background: var(--primary-off-white);
  border: 2px solid var(--primary-grey-background);
  margin: 10px;
}

.event-item-list-list {
  /* height: calc(85% - 50px); */
  margin: 0px;
  padding: 2.5% 16px;
  text-align: left;
}

.event-item-list-list li {
  padding: 4px 2px;
  cursor: pointer;
  border: 1px solid var(--primary-grey);
  list-style-type: none;
  margin: 3px;
}

.event-item-list-list li:hover {
  background: var(--primary-grey);
}

.event-item-row-image {
  max-height: 50px;
}

.item-row-container {
  background: var(--primary-white);
  padding: 4px;
  border-radius: 5px;
  margin: 2px 0px;
  /* height: 55px; */

  cursor: pointer;
}

.item-row-button {
  border: none;
  margin: 0px;
  padding: 0px;
  background: inherit;
}

.item-row-container .item-row-button {
  visibility: hidden;
}

.item-row-container:hover .item-row-button {
  visibility: visible;
  transform: rotate(45deg);
  /* fill: var(--primary-pink); */
}

.item-row-details {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s;
}

.item-row-details-expand {
  overflow: inherit;
  max-height: 600px;
  /* transition: max-height 0.3s; */
}

.item-row-detail-title {
  width: 75px;
  text-align: left;
}

.select-list-container {
  background-color: #f5f5f5;
}

.select-list-list {
  display: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  background: var(--primary-white);
  top: 100%;
}

.select-list-list-show {
  display: flex;
  width: 100%;
}

.select-list-item {
  list-style: none;
  min-width: 120px;
  border: var(--primary-border);
  cursor: pointer;
  /* padding: 4px 2px; */
  padding: 4px 0px;
  width: 100%;
}

.select-list-arrow {
  transform: rotate(-90deg);
  transition: transform 0.2s;
}

.select-list-arrow-down {
  transform: rotate(90deg);
}

.select-list-list-show .select-list-arrow {
  visibility: hidden;
}

.select-list-list-show .select-list-item:hover {
  background: var(--primary-grey);
}

.profile-main {
  text-align: left;
  background-color: var(--primary-grey);
  font-size: 17px;
}

.calendar-container {
  border-radius: 5px;
}

.calendar-side-bar {
  background: var(--primary-blue);
  border-radius: 5px;
  max-height: 95%;
  height: 95%;
}

.calendar-days,
.calendar-week-days {
  padding: 0px;
  /* border: var(--primary-border); */
  margin: 0px;
  width: 100%;
}

.calendar-week-days-titles {
  list-style-type: none;
  /* width: 100px; */

  /* background: var(--primary-white); */

  min-height: 25px;

  /* border: var(--primary-border); */
  border: 1px solid transparent;
}

.calendar-days {
  /* border: 1px solid; */
  margin-bottom: 8px;
  width: 100%;
}

.calendar-days-card {
  background: var(--primary-white);
  list-style-type: none;
  border: var(--primary-border);
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin: 5px;
}

.calendar-days li span {
  height: 16px;
  font-size: 13px;
}

.calendar-event-list {
  height: calc(100% - 16px);
  /* commenting out this scroll what happens with overflow*/
  /* overflow: scroll; */
}

.calendar-event-list div {
  border-top: var(--primary-border);
  border-bottom: var(--primary-border);
  height: 30%;
}

.calendar-date-title {
  font-size: 18px;
  font-weight: bold;
}

.order-user-field {
  background: var(--primary-white);
}

.calendar-orders {
  padding: 5px;
  padding-bottom: 1em;
}

.calendar-orders ul {
  padding: 0px;
}

.calendar-orders li {
  width: 100%;
}

.calendar-side-bar-date-box {
  /* margin-left: 16px; */
  margin: 0px 16px;
  text-align: left;
}

a.calendar-side-bar-order-box {
  color: var(--primary-text-grey);
  margin: 6px 0px;
  display: inline-block;
}

.footer-container,
.nav-bar-container {
  background: var(--primary-text-grey);
  padding: 14px 4px;
  padding-right: 5%;
  font-size: 20px;
  bottom: 0;
}

.side-bar-container {
  background: var(--primary-grey);
}
.side-bar-container-link {
  background-color: rgb(218, 218, 218);
  border: rgba(0, 0, 0, 0.6) 1px solid;
  margin-bottom: 2px;
  color: rgba(0, 0, 0, 0.6);
  width: 120%;
}
.side-bar-container-link:hover {
  background-color: var(--primary-off-white);
}
a.side-bar-container-link {
  color: rgba(239, 239, 239, 1);
}

a:hover.side-bar-container-link {
  color: rgba(171, 198, 189, 1);
  font-weight: 500;
}
a:active.side-bar-container-link {
  color: rgba(171, 198, 189, 1);
  font-weight: 500;
  border-left: 5px solid var(--primary-green);
}
svg:hover.side-bar-container-link {
  color: rgba(171, 198, 189, 1);
}
.nav-bar-logo {
  height: 95%;
  border: none;
  padding-bottom: 2px;
}

.nav-bar-container {
  border-bottom: 1px solid black;
  align-items: center;
}

.nav-bar-container ul {
  margin: 0px;
  padding: 0px;
}

.home-page-container {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.home-page-container a {
  text-decoration: none;
  margin: 0px 8px;
  font-size: 20px;
}

.home-page-container a {
  margin: 8px;
  padding: 5px 8px;
}

.nav-bar-container a {
  text-decoration: none;
  color: var(--primary-white);
  margin: 0px 8px;
  font-size: 15px;
}
a.nav-bar-logo {
  border: none;
  padding-bottom: 2px;
}

.nav-bar-mobile-menu {
  fill: var(--primary-white);
  visibility: hidden;
  display: none;
}

.footer-logo {
  max-width: 120px;
}

.previous-order-page-title {
  width: 80%;
}

.previous-order-event-box {
  background: var(--primary-off-white);

  height: 60px;
  margin: 4px 0px;
  width: 80%;

  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), inset 0px 3px 2px #ffffff;
  border-radius: 4px;
  padding: 0px 16px;
  cursor: pointer;

  font-size: 18px;
  text-align: left;
}

/* .previous-order-event-title {
  border: none;
  background: inherit;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  width: 100%;
} */

.previous-order-body {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s, opacity 0.2s;
  width: 80%;
  background: var(--primary-blue);
}

.previous-order-body-show {
  max-height: 700px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.3s, opacity 0.2s;
  padding: 16px;
  margin-bottom: 8px;
}

.previous-order-table thead {
  height: 10%;
  min-height: 50px;
}

.previous-order-table tbody {
  height: 90%;
  overflow: scroll;
}

.previous-order-table .table-full-height {
  height: 99%;
}

.align-left {
  justify-content: left;
  text-align: left;
}

.department-align-left {
  justify-content: left;
}

.user-list-container {
  margin-bottom: 10px;
}
.items-included {
  font-weight: 600;
}
.user-group-edit-container {
  background: var(--primary-white);
  border: 20px solid var(--primary-blue);
}

.user-group-edit-input {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0px;
}

.user-group-edit-container button {
  margin: 0px 4px;
}

.user-group-edit-container .user-group-edit-close {
  background: var(--high-black);

  border: none;
  margin: 4px 0px;
  padding: 0px;
}

.user-group-edit-container .user-group-edit-close svg {
  fill: var(--primary-white);
}

.error-message-text {
  color: var(--primary-red);
  margin: 8px 0px;
}

.user-add-field-row input,
.user-add-field-row label {
  width: 50%;
  text-align: left;
}

.user-add-field-row label {
  font-weight: bold;
}

.user-add-field-row input {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.user-add-field-row input:hover {
  background: var(--primary-grey);
}

.user-add-field-row input:focus {
  border: var(--primary-border);
  background: var(--primary-white);
}

.user-add-button {
  font-weight: bold;
  width: 50%;
}

.home-page-hr {
  margin: 8px;
  align-content: center;
}

.registration-half-column-1 {
  background: var(--primary-blue);
  height: 100%;
}

.registration-half-column-1 .user-add-field-row input {
  margin: 14px 2px;
  width: 100%;
}

.registration-half-column-1 .user-add-field-row input:hover {
  background: var(--primary-off-white);
}

.registration-half-column-2 {
  background: var(--primary-green);
  height: 100%;
}

.registration-half-column-2-content {
  background: var(--primary-white);
  width: 90%;
  height: 90%;
  margin: 5%;
}

.item-picture-upload-message {
  display: none;
}

.item-picture-upload:disabled:hover + .item-picture-upload-message {
  display: block;
}

.user-list-detail-row {
  cursor: pointer;
}

.nav-bar-svg {
  max-width: 100%;
  max-height: 150%;
  height: 100%;
}

.new-recipient-list-fields {
  text-align: left;
}

.admin-shipping-icons-button {
  background: inherit;
  border: none;
  margin: 0px 5px;
  padding: 4px;
}

.admin-shipping-icons-active {
  background: var(--primary-white-background);
  border: var(--primary-border);
  border-radius: 5px;
}

.admin-shipping-icons-1 svg {
  width: 50px;
  height: 50px;
}

.admin-shipping-icons-2 svg {
  width: 45px;
  height: 45px;
}

.admin-shipping-icons-custom svg {
  width: 40px;
  height: 40px;
}

.shipment-rate-button-container {
  min-height: 50px;
  width: 23%;
  margin: 1%;
}

.shipment-rate-button-container-active {
  border: 1px solid var(--primary-red);
}

.shipment-rate-button-text-container span {
  margin: 1px;
  padding: 1px;
  text-align: left;
}

.admin-order-table tr.admin-order-fulfilled {
  background-color: var(--primary-green);
}

.stripe-card-input-form {
  text-align: center;
}

.stripe-card-input-field {
  height: 32px;
  width: 90%;
  background: var(--primary-white);
  font-size: 15px;
  border: var(--primary-border);
  border-radius: 5px;
  margin: 5px 0px;
  padding: 0px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stripe-card-input-header {
  width: calc(90% + 15px);
  margin: 5px 0px;
  padding: 0px;
}

.stripe-saved-card-button {
  border: var(--primary-border);
  width: 90%;
  font-size: 15px;
  margin: 2px 0px;
  background: var(--primary-white);
  border-radius: 5px;
}

.active-stripe-card {
  border: 1px solid var(--primary-red);
}

/* @media screen and (max-width: 850px) {

} */

@media screen and (max-width: 650px) {
  .previous-order-table thead,
  .admin-order-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    min-height: 1px;
  }

  .previous-order-table tr,
  .admin-order-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }

  .previous-order-table td,
  .admin-order-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
    min-height: 15px;
  }

  .previous-order-table td::before,
  .admin-order-table td::before {
    content: attr(data-label);
    float: left;
  }

  .previous-order-table th,
  .previous-order-table td {
    width: 95%;
  }

  .orderTable {
    overflow-y: scroll;
    overflow-x: visible;
  }

  .admin-order-table .admin-order-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav-bar-header {
    width: 100%;
  }

  .nav-bar-container {
    flex-direction: column;
  }

  .flex-grid {
    display: flex;
  }
  .col {
    flex: 1;
  }
  /* .nav-bar-container nav {
    margin: 10px 0px;
    margin-top: 16px;
  } */

  .nav-bar-container ul {
    display: flex;
    flex-direction: column;

    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s;
  }

  ul.nav-bar-list-expanded {
    margin-top: 16px;
    max-height: 500px;
    transition: max-height 0.3s;
  }

  .nav-bar-mobile-menu {
    visibility: visible;
    /* display: block; */
    cursor: pointer;
    margin-top: 8px;
  }

  .nav-bar-mobile-menu-hide {
    visibility: hidden;
    display: none;
  }

  .nav-bar-container ul a {
    margin: 4px 8px;
    visibility: hidden;
  }

  .nav-bar-container ul.nav-bar-list-expanded a {
    margin: 4px 8px;
    visibility: visible;
  }
}
