<html>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <body style="background-color:#C6D4DF; font-family:Poppins, sans-serif,Trebuchet MS,sans-serif; margin: 40px; padding: 20px">
      <div style="margin: 0 auto; width: 600px; padding-top: 20px; background-color: #fff; font-size: 1.2rem; font-style: normal;font-weight: normal;line-height: 19px;" align="center">
        <div style="padding: 20px;">
            <h2 style="font-size: 28px; margin-top: 20px; margin-bottom: 0;font-style: normal; font-weight: 700; color: #9EB1BE;font-size: 35px;line-height: 40px;text-align: center;">Hi there!</h2>
            <p style="margin: 20px;font-size: 18px;line-height: 24px;  font-weight: 600; color: #9EB1BE">Welcome to Zip Zap Gifts! We're so glad you're here. Zip Zap will help you organize, brand, package and send gifts to your employees and clients.</p>
            <p style="margin: 20px;font-size: 18px;line-height: 24px;  font-weight: 600; color: #9EB1BE">We believe that taking care of people goes a long way!</p>
            <img style="border: 0;display: block;height: auto; width: 100%;max-width: 373px;" alt="Animage" height="200" width="300"  src="https://s3.amazonaws.com/content.zipzapgifts.com/login-photo.jpg" />
            
            <p style="Margin-top: 60px;Margin-bottom: 20px;font-size: 25px;line-height: 30px; color: #747474"><b>To verify your email enter this code {####}</b></p>
            <img style="border: 0;display: block;height: auto; width: 30%; max-width: 373px;" alt="Animage" height="100" width="150"  src="https://s3.amazonaws.com/content.zipzapgifts.com/password-code+(3).png" />
            <div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 24px;">
          </div>
        </div>
      </div>
    </body>
  </html>
